certifi==2018.4.16
chardet==3.0.4
Django==1.11.29
django-cors-headers==1.3.1
django-filter==1.0.1
djangorestframework==3.9.1
djangorestframework-jwt==1.11.0
DukeDSClient==3.0.0
funcsigs==1.0.2
future==0.16.0
idna==2.5
mock==2.0.0
oauthlib==2.1.0
pbr==4.0.3
PyJWT==1.5.2
pytz==2018.4
requests>=2.20.0
requests-oauthlib==0.8.0
six==1.11.0
urllib3==1.24.2
